# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
.next/
out/
build/
dist/
tsconfig.tsbuildinfo

# env & secrets
.env
.env.local
.env*.local

# python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# misc
.DS_Store
*.log
coverage/
outputs/
.prettierrc
